@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: #15202b;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #f5f5f5;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.logo {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 50px;
}

.title {
  font-size: 36px;
  margin-top: 20px;
  color: #f5f5f5;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

#input {
  flex: 1;
  height: 40px;
  outline: none;
  background: #1a2935;
  border: none;
  color: #f5f5f5;
  caret-color: #f5f5f5;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1a2935;
  margin: 0 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.social-icons a i {
  color: #1da1f2;
  font-size: 20px;
}

.social-icons a:hover {
  background-color: #1a3c54;
  color: #fff;
}

/* Update the footer styles */
footer {
  background-color: #1a2935;
  color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.legacy-button {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 120px;
      height: 40px;
      background-color: #1a2935;
      color: #f5f5f5;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .legacy-button:hover {
      background-color: #1a3c54;
      transform: scale(1.1);
    }

    .loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 1); /* Completely opaque black background */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999; /* Ensure it appears on top of other elements */
      display: none; /* Hide the overlay by default */
      transition: opacity 0.3s ease; /* Add a transition for the opacity property */
    }

    .loading-overlay.show {
      opacity: 1; /* When the class "show" is added, the loading overlay will become fully opaque */
    }

    .loading-overlay.hide {
      opacity: 0; /* When the class "hide" is added, the loading overlay will become transparent */
    }

    .loading-message {
      color: white;
      font-size: 24px;
      margin-left: 10px;
    }
